@using InformationsSystemOru.Extensions
@model InformationsSystemOru.Models.BlogModel
@{
    ViewBag.Title = "EducationBlog";
    Layout = User.Identity.IsAdmin() ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}
<script src="~/scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        mode: "textareas",
        theme: "modern",
        plugins: "textcolor colorpicker",
        toolbar: "formatselect | bold italic underline | forecolor backcolor | bullist numlist",
        content_css: "~/Content/Site.css"
    });
</script>

<div class="row">

    <h1 class="text-center">Education</h1>
    <h3 class="text-center">News and articles regarding Örebro University, Informatics</h3>
    <br /><br />


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" href="#collapseExample"><span class="glyphicon glyphicon-pencil"></span>  Write a blog post</a></h4>
        </div>
        <div id="collapseExample" class="panel-collapse collapse">

            <div class="panel-body">

                @using (Html.BeginForm("EducationBlog", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPost.Title, "Title", htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.NewPost.Title, "TitleInput", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewPost.Title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPost.Category, "Category", htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.NewPost.Category, "Kategori", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewPost.Category, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPost.Text, "Text", htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.NewPost.Text, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewPost.Text, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="file">Filename:</label>
                        @Html.TextBoxFor(model => model.NewPost.File, new { @class = "form-control", type = "file" })
                    </div>

                    <div>
                        <input type="submit" value="Post" class="btn btn-success" id="btnSend" />
                    </div>

                }

            </div>
        </div>
    </div>

    <hr />

        <br />
        @if (Model.AllPosts != null)
            {
                foreach (var post in Model.AllPosts)
                {
                <div class="well well-sm">
                    <div class="media">
                        <div class="media-body">

                            <h4 class="media-heading">@post.Title</h4>
                            <p>@Html.Raw(@post.Text)</p>
                            @if (post.Filename != null)
                            {
                                <a href="@Url.Action("GetFile", "Profile", new{ path = post.FileUrl } )">@post.Filename</a>
                            }
                            <p>Written by <a href="@Url.Action("VisitingProfile", "Profile", new { visitedUserID = post.PostingUserId})">@post.PostingUsersName</a> @post.DatePosted.ToShortDateString() in category @post.Category</p>

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" href="#collapse@(post.PostId)">Show comments</a></h4>
                                </div>
                                <div id="collapse@(post.PostId)" class="panel-collapse collapse">

                                    <div class="panel-body">
                                        @using (Ajax.BeginForm("PostComment", "Blog", new AjaxOptions
                                        { HttpMethod = "POST", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "post" + post.PostId, OnSuccess = "ClearTextbox()" }))
                                        {
                                            <div class="input-group">
                                                @Html.Hidden("postId", post.PostId)
                                                @Html.TextBox("tbComment", "", htmlAttributes: new { @class = "form-control", placeholder = "Write a comment" })
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="submit">Reply</button>
                                                </span>
                                            </div>
                                            <hr />
                                        }

                                        <div id="post@(post.PostId.ToString())">
                                            @if (post.Comments != null)
                                            {
                                                foreach (var c in post.Comments)
                                                {
                                                    <div id="@c.Id">
                                                        <div class="col-md-11">

                                                            <div class="media">
                                                                <div class="media-left">
                                                                    <a href="@Url.Action("VisitingProfile", "Profile", new { visitedUserID = post.PostingUserId})">
                                                                        @if (c.User.ProfilePicture == null)
                                                                        {
                                                                            <img class="media-object img-rounded" src="~/Content/default.jpg" alt="...">
                                                                        }
                                                                        else
                                                                        {
                                                                            <img class="media-object img-rounded" src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(c.User.ProfilePicture))" alt="...">
                                                                        }

                                                                    </a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <h4 class="media-heading"><span class="label label-primary">@c.User.Firstname @c.User.Lastname - @c.Date</span> </h4>
                                                                    <p>@c.Text</p>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-md-1">
                                                            @using (Ajax.BeginForm("RemoveComment", "Blog", new { postId = post.PostId, commentId = c.Id, authorId = c.AuthorId },
new AjaxOptions { HttpMethod = "POST", OnSuccess = "RemoveComment(" + @c.Id + ")" }))
                                                            {
                                                                <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        }


</div>





