@model InformationsSystemOru.Models.BlogModel
@using System.Security.Policy
@using Data_Access_Layer
@using InformationsSystemOru.Extensions

@{
    ViewBag.Title = "ScienceBlog";
    Layout = User.Identity.IsAdmin() ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}
<script src="~/scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        mode: "textareas",
        theme: "modern",
        plugins: "textcolor colorpicker",
        toolbar: "formatselect | bold italic underline | forecolor backcolor | bullist numlist",
        content_css: "~/Content/Site.css"
    });
    $(function () {
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
    });
</script>



<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs ul-sience">
                    <li role="presentation" class="active">
                        <a href="#Ehalsa">
                            e-Hälsa
                        </a>
                    </li>
                    <li role="presentation"><a href="#ElectronicGoverment">Electronic Government</a></li>
                    <li role="presentation"><a href="#Ict">ICT for development</a></li>
                    <li role="presentation"><a href="#Itsakerhet">Informationssäkerhet</a></li>
                    <li role="presentation"><a href="#Itlarande">IT för lärande</a></li>
                    <li role="presentation"><a href="#Sysutveckling">Systemutvecklingsmetoder</a></li>
                </ul>
            </div>
            <div class="tab-content panel-body">

                <div id="Ehalsa" class="tab-pane fade in active">
                    <div class="panel panel-default">
                        <div class="panel-heading">News</div>
                        <div class="panel-body">
                            @foreach (var post in Model.AllPosts)
                            {
                                if(post.PostId.)
                                <div class="media">
                                    <div class="media-body">

                                        <div class="col-md-11 col-sm-11">
                                            <h4 class="media-heading">Title: @post.Title</h4>
                                            <p>@Html.Raw(@post.Text)</p>
                                            @if (post.Filename != null)
                                            {
                                                <a href="@Url.Action("GetFile", "Profile", new{ path = post.FileUrl } )">@post.Filename</a>
                                            }
                                            <p>@post.Category | @post.DatePosted.ToShortDateString()</p>
                                        </div>

                                        <div class="col-md-1 col-sm-1">
                                            @using (Html.BeginForm("DeletePost", "Blog", new { postid = post.PostId, sida = "Education" }))
                                            {
                                                <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                            }
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div id="ElectronicGoverment" class="tab-pane fade">
                    <p>ElectronicGoverment</p>
                </div>
                <div id="Ict" class="tab-pane fade">
                    <p>Icy</p>
                </div>
                <div id="Itsakerhet" class="tab-pane fade">
                    <p>Itsakerhet</p>
                </div>
                <div id="Itlarande" class="tab-pane fade">
                    <p>Itlarande</p>
                </div>
                <div id="Sysutveckling" class="tab-pane fade">
                    <p>Sysutveckling</p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
@*<h1 class="text-center">Science</h1>
    <h2 class="text-center">News and blogs about science at Örebro University</h2>
    <br /><br />
    <div class="col-md-12">

        <div id="blogg" class="col-md-6">
            @using (Html.BeginForm("ScienceBlog", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                <div class="form-group">

                    @Html.LabelFor(model => model.NewPost.Title, "Title", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.NewPost.Title, "TitleInput", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPost.Title, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewPost.Category, "Category", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.NewPost.Category, "Category", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPost.Category, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewPost.Text, "Text", htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.NewPost.Text, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPost.Text, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">

                    <label for="file">Filename:</label>
                    @Html.TextBoxFor(model => model.NewPost.File, new { @class = "form-control", type = "file" })

                </div>

                <div>
                    <input type="submit" value="Post" class="btn btn-success" id="btnSend" />
                </div>

            }

        </div>

        <div class="col-md-12">
            <br />
            @if (Model.AllPosts != null)
                {
                    foreach (var post in Model.AllPosts)
                    {
                    <div class="well well-sm">
                        <div class="media">
                            <div class="media-body">

                                <div class="col-md-11 col-sm-11">
                                    <h4 class="media-heading">@post.Title</h4>
                                    <p>@Html.Raw(@post.Text)</p>
                                    @if (post.Filename != null)
                                    {
                                        <a href="@Url.Action("GetFile", "Profile", new{ path = post.FileUrl } )">@post.Filename</a>
                                    }
                                    <p>@post.Category | @post.DatePosted.ToShortDateString()</p>
                                </div>

                                <div class="col-md-1 col-sm-1">
                                    @using (Html.BeginForm("DeletePost", "Blog", new { postid = post.PostId, sida = "Education" }))
                                    {
                                        <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>*@
