@model InformationsSystemOru.Models.MeetingsModel

<script type="text/javascript">
    $(function () {
        $('#timepicker').val('');
        $('#timepicker').timepicker({ 'scrollDefault': 'now' });
    })
</script>
<div class="col-md-5">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h4>@DateTime.Parse(Model.Date.Substring(0, 10)).ToString("M") - Meetings</h4> @*Splittar för formateringen är kass, datumet skickas ner från controllern som en string och ej datetime.*@
        </div>
        <div class="panel-body">
            @if (Model.Meetings.Count > 0)
            {
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Place</th>
                            <th>Type</th>
                            <th>Host</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var meeting in Model.Meetings)
                        {
                            <tr>
                                <td>@meeting.Date.Value.ToString("HH:mm")</td>
                                <td>@meeting.Location</td>
                                <td>@meeting.Type</td>
                                <td>@meeting.HostId</td>
                                <td>@Html.ActionLink("View", "Meeting", "Meeting", new { @meetingId = meeting.Id }, new { @class = "" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Book</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Book", "Meeting"))
            {
                <div class="form-group">
                    @Html.HiddenFor(x => x.Date)
                    @Html.LabelFor(x => x.TimeOfDay)
                    @Html.TextBoxFor(x => x.TimeOfDay, new { id = "timepicker", @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Location)
                    @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Type)
                    @Html.TextBoxFor(x => x.Type, new { @class = "form-control" })
                    <br />
                    <input type="submit" class="btn btn-default" value="Add meeting" />
                </div>

                @*@Html.LabelFor(model => model.Password, "Lösenord", htmlAttributes: new { @class = "control-label col-md-2" })*@

            }
        </div>
    </div>
</div>
