@using System.Diagnostics
@using InformationsSystemOru.Extensions
@using Newtonsoft.Json
@model InformationsSystemOru.Models.CalendarModel

@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    Layout = User.Identity.IsAdmin() ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
<link href="~/Content/responsive-calendar.css" rel="stylesheet">
<script src="~/Scripts/jquery.timepicker.min.js"></script>
<script src="~/Scripts/responsive-calendar.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.meeting-button').click(function () {
            var url = '@Url.Action("MeetingsAndBook", "Meeting")';
            var date = $(this).attr('id');
            $('#meeting-view').load(url, { date: date });
        });

        var meetings = @Html.Raw(Json.Encode(Model.Events));
        var str = "{";

        $.each(meetings, function(i, obj) {
            var url = '@Url.Action("MeetingsAndBook", "Meeting")';
            var date = obj.Date;

            str += '"' + obj.Date + '":{"badgeClass":"badge-warning"}';
            if (i == meetings.length - 1) {

            } else {
                str += ",";
            }
        });

        str += "}";
        var jsonMeetings = JSON.parse(str);

        function addLeadingZero(num) {
            if (num < 10) {
                return "0" + num;
            } else {
                return "" + num;
            }
        }

        $(".responsive-calendar").responsiveCalendar({
            time: '@Model.CurrentDate.ToString("yyyy-MM")',
            events: jsonMeetings,
            onDayClick: function(events) {
                var date = $(this).data('year')+'-'+addLeadingZero( $(this).data('month') )+'-'+addLeadingZero( $(this).data('day') );
                var url = '@Url.Action("MeetingsAndBook", "Meeting")';
                $('#meeting-view').load(url, { date: date });
            }
        });

        

    });

</script>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2>
        <hr />

        <div class="well well-sm">
            <!-- Responsive calendar - START -->
            <div class="responsive-calendar">
                <div class="controls">
                    <a class="pull-left" data-go="prev"><div class="btn btn-primary">Prev</div></a>
                    <h4><span data-head-year></span> <span data-head-month></span></h4>
                    <a class="pull-right" data-go="next"><div class="btn btn-primary">Next</div></a>
                </div><hr />
                <div class="day-headers">
                    <div class="day header">Mon</div>
                    <div class="day header">Tue</div>
                    <div class="day header">Wed</div>
                    <div class="day header">Thu</div>
                    <div class="day header">Fri</div>
                    <div class="day header">Sat</div>
                    <div class="day header">Sun</div>
                </div>
                <div class="days" data-group="days">

                </div>
            </div>
            <!-- Responsive calendar - END -->
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <hr />
        <div id="meeting-view">

        </div>
        @*@Html.Action("Book", "Book", new { meetingId = "meetingId" })*@
    </div>
    <div class="col-md-2"></div>

</div>
