@using Data_Access_Layer
@model InformationsSystemOru.Models.CalendarModel

@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.timepicker.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.meeting-button').click(function () {
            var url = '@Url.Action("Meeting", "Meeting")';
            var date = $(this).attr('id');
            $('#meeting-view').load(url, { date: date});
        });
    });
</script>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>@ViewBag.Title</h2> 
        @foreach (var day in Model.UpcomingDays)
        {
            var amountOfMeetings =  Model.Meetings.Count(meeting => meeting.Date.Value.Date == day.Date);
           
            <button class="btn btn-default meeting-button" id="@day.Date" data-url="@Url.Action("Book","Meeting", new { date = day.Date})">
                @day.ToString("MMMM dd")
                @if (@amountOfMeetings != 0)
                {
                    <span class="glyphicon glyphicon-pushpin glyphicon-pushpin-edit"></span>
                    @amountOfMeetings
                }
            </button>
        }

    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <br />
    <br />
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="meeting-view">

        </div>
        @*@Html.Action("Book", "Book", new { meetingId = "meetingId" })*@
    </div>
    <div class="col-md-2"></div>

</div>
