@using InformationsSystemOru.Extensions
@model InformationsSystemOru.Models.MeetingModel

@{
    ViewBag.Title = "Meeting " + Model.Meeting.Date;
    Layout = User.Identity.IsAdmin() ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <br/>
        <div class="well well-sm">
            <h1>@Model.Meeting.Date.Value.ToString("D")</h1>
            <p>Place: @Model.Meeting.Location</p>
            <p>Type: @Model.Meeting.Type</p>
            <p>Host: @Model.Meeting.HostId</p>
            @Html.Label("GiveInvite", "Invite to meeting.")
            @Html.DropDownListFor(model => model.AllUsers, new SelectList(Model.AllUsers), "Choose a user", new {@class = "form-control"})

            @Html.Label("RemoveInvite", "Remove invitation from user.")
            @Html.DropDownListFor(model => model.InvitedUsers, new SelectList(Model.InvitedUsers), "Choose a user", new {@class = "form-control"})

            @Html.Label("Attending", "Attending")
            <br />
            @Html.ListBoxFor(model => model.AcceptedUsers, new SelectList(Model.AcceptedUsers))

            <br/>

            @Html.Label("WaitInvitation", "Waiting for response")
            <br />
            @Html.ListBoxFor(model => model.AcceptedUsers, new SelectList(Model.AcceptedUsers))
        </div>
    </div>
    <div class="col-md-2"></div>
</div>