@using InformationsSystemOru.Extensions
@model InformationsSystemOru.Models.MeetingModel

@{
    ViewBag.Title = "Meeting " + Model.Meeting.Date;
    Layout = User.Identity.IsAdmin() ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <br />
        <div class="well well-sm">
            <h1>@Model.Meeting.Date.Value.ToString("D")</h1>
            <p>Place: @Model.Meeting.Location</p>
            <p>Type: @Model.Meeting.Type</p>
            <p>Host: @Model.Host.Firstname @Model.Host.Lastname</p>
            @using (Html.BeginForm("Invite", "Meeting", new { @meetingId = Model.Meeting.Id }))
            {
                @Html.Label("GiveInvite", "Invite to meeting.");
                @Html.DropDownListFor(model => model.InvitedUser, new SelectList(Model.AllNoneInvitedUsers), "Choose a user", new { @class = "form-control" });
                <input type="submit" value="Invite" class = "btn btn-default"/>
            }

            @using (Html.BeginForm("RemoveInvitation", "Meeting", new { @meetingId = Model.Meeting.Id }))
            {

                <br />
                @Html.Label("WaitInvitation", "Waiting for response")
                <br />
                @Html.ListBoxFor(model => model.RemoveInvitationUser, new SelectList(Model.InvitedUsers))
                <br />
                <input type="submit" value="Remove invitation" class = "btn btn-default" />

            }



            <br />

            @Html.Label("Attending", "Attending")
            <br />
            @Html.ListBoxFor(model => model.AcceptedUsers, new SelectList(Model.AcceptedUsers))

            <br />
            <br />


        </div>
    </div>
    <div class="col-md-2"></div>
</div>