@using InformationsSystemOru.Extensions
@model InformationsSystemOru.Models.MyMeetingsModel

@{
    ViewBag.Title = "My meetings";
    Layout = User.Identity.IsAdmin() ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row">
<div class="col-md-1"></div>
    <div class="col-md-9">
        <h2>My meetings</h2>
        <hr/>
        <h3>Invitations:</h3>
        @foreach (var meeting in Model.InvitedToMeetings)
        {
            <p>Date: @meeting.Date.Value.ToString("D")</p>
            <p>Host: @meeting.User.Firstname @meeting.User.Lastname</p>
            <p>Location: @meeting.Location</p>
            <p>Type: @meeting.Type</p>    
            @Html.ActionLink("Accept","AcceptMeeting", "Meeting", new {@meetingId = meeting.Id}, new {@class = "btn btn-default"})
            @Html.ActionLink("Decline","DeclineMeeting", "Meeting", new {@meetingId = meeting.Id}, new {@class = "btn btn-default"})
        }
        <hr/>
        <h3>Attending:</h3>
        @foreach (var meeting in Model.AttendingToMeetings)
        {
            <p>Date: @meeting.Date.Value.ToString("D")</p>
            <p>Host: @meeting.User.Firstname @meeting.User.Lastname</p>
            <p>Location: @meeting.Location</p>
            <p>Type: @meeting.Type</p>
            @Html.ActionLink("View", "Meeting", "Meeting", new { @meetingId = meeting.Id}, new { @class = "btn btn-default" })
        }
        <hr />
        <h3>Hosting:</h3>
        @foreach (var meeting in Model.HostToMeetings)
        {
            <p>Date: @meeting.Date.Value.ToString("D")</p>
            <p>Location: @meeting.Location</p>
            <p>Type: @meeting.Type</p>
            @Html.ActionLink("View", "Meeting", "Meeting", new { @meetingId = meeting.Id }, new { @class = "btn btn-default" })
            <br />
            <br/>
        }
    </div>
    <div class="col-md-2"></div>
</div>

