@model InformationsSystemOru.Models.ProfileModel
@{
    ViewBag.Title = "ProfilePicture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ChangeProfilePic", "Profile", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <br/>
    <br/><br/><br/>

    <div class="well well-lg">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset>
                <legend>Ändra din profilbild</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.File, new { @class = "control-label col-md-2" })
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                            @Html.TextBoxFor(model => model.File, new { @class = "form-control", type = "file", accept = "image/*" })
                        </div>
                        @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Spara" class="btn btn-success" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
}