@model InformationsSystemOru.Models.BlogModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}

<h2>Profile</h2>

<div id="Wall">

@using (Html.BeginForm("Profile", "Profile", FormMethod.Post))
{
    @Html.Label("Write a blog post")
    <br/>

    @Html.LabelFor(model => model.Title, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.Title, "TitleInput")
    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    <br/>
    @Html.TextBoxFor(model => model.Category, "Kategori")
    @Html.LabelFor(model => model.Category, "Kategori", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
    ;
    <br/>
    @Html.TextAreaFor(model => model.Text, "WallInputText")
    @Html.LabelFor(model => model.Text, "Text", htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
    ;

    <input type="submit" value="Post" id="btnSend"/>
}
</div>

