@using InformationsSystemOru.Extensions
@model InformationsSystemOru.Models.ProfileModel
@{
    ViewBag.Title = "Profile";
    Layout = User.Identity.IsAdmin() ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}
<script src="~/scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        mode: "textareas",
        theme: "modern",
        plugins: "textcolor colorpicker",
        toolbar: "formatselect | bold italic underline | forecolor backcolor | bullist numlist",
        content_css: "~/Content/Site.css"
    });
</script>

<div class="row">
    <h2>Profile</h2>
    <hr />

    <div class="col-md-3">

        @if (Model.ProfilePicture.IsEmpty())
        {
            <img src="~/Content/default.jpg" alt="..." class="img-thumbnail">
        }
        else
        {
            <img id="profilbild" src="@Model.ProfilePicture" alt="..." class="img-thumbnail">
        }

        <hr />

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> @User.Identity.Name</h3>
            </div>
            <div class="panel-body">
                        <strong>Name</strong>
                        <p>@Model.Firstname  @Model.Lastname</p>

                        <strong>Email</strong>
                        <p> <a href="#">@Model.Email</a> </p>

            </div>
            <div class="panel-footer">
                <a data-original-title="Broadcast Message" data-toggle="tooltip" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
            </div>

        </div>
    </div>

    <div class="col-md-9">

        @using (Html.BeginForm("Profile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @Html.Label("Write a blog post")

            <div class="form-group">

                @Html.LabelFor(model => model.NewPost.Title, "Title", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.NewPost.Title, "TitleInput", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPost.Title, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewPost.Category, "Kategori", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.NewPost.Category, "Kategori", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPost.Category, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewPost.Text, "Text", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.NewPost.Text, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPost.Text, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">

                <label for="file">Filename:</label>
                @Html.TextBoxFor(model => model.NewPost.File, new { @class = "form-control", type = "file" })

            </div>
            <div>
                <input type="submit" value="Post" class="btn btn-success" id="btnSend" />
            </div>
        }

        <hr />

        @if (Model.AllPosts != null)
            {
                foreach (var post in Model.AllPosts)
                {
                <div class="well well-sm">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">@post.Title</h4>
                            <p>@Html.Raw(@post.Text)</p>
                            @if (post.Filename != null)
                            {
                                <a href="@Url.Action("GetFile", "Profile", new{ path = post.FileUrl } )">@post.Filename</a>
                            }
                            <p>@post.Category | @post.DatePosted.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</div>
