@using InformationsSystemOru.Extensions
@model InformationsSystemOru.Models.VisitingUserModel
@{
    ViewBag.Title = "VisitingProfile";
    Layout = User.Identity.IsAdmin() ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}

<script src="~/scripts/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        mode: "textareas",
        theme: "modern",
        plugins: "textcolor colorpicker",
        toolbar: "formatselect | bold italic underline | forecolor backcolor | bullist numlist",
        content_css: "~/Content/Site.css"
    });
</script>

<div class="row">
    <h2>Profile</h2>
    <hr />

    <div class="col-md-3">

        @if (Model.ProfilePicture.IsEmpty())
        {
            <img src="~/Content/default.jpg" alt="..." class="img-thumbnail">
        }
        else
        {
            <img id="profilbild" src="@Model.ProfilePicture" alt="..." class="img-thumbnail">
        }

        <hr />

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"> @Model.VisitedUser.Firstname</h3>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-9">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>Name:  </td>
                                    <td>@Model.VisitedUser.Firstname  @Model.VisitedUser.Lastname</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a href="@Url.Action("Contact", "Home",new {id= Model.VisitedUser.Id})" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
            </div>

        </div>
    </div>

    <div class="col-md-9">
        @if (Model.UserPosts != null)
            {
                foreach (var post in Model.UserPosts)
                {
                <div class="well well-sm">
                    <div class="media">
                        <div class="media-left">
                            <a href="@Url.Action("VisitingProfile", "Profile", new { visitedUserID = post.PostingUserId})">
                                @if (post.PostingUsersProfilePicture.IsEmpty())
                                {
                                    <img class="media-object img-rounded" src="~/Content/default.jpg" alt="...">
                                }
                                else
                                {
                                    <img class="media-object img-rounded" src="@post.PostingUsersProfilePicture" alt="...">
                                }

                            </a>
                        </div>

                        <div class="media-body">

                            <h4 class="media-heading"><strong>@post.Title</strong></h4>
                            <p>@Html.Raw(@post.Text)</p>
                            @if (post.Filename != null)
                    {
                                <a href="@Url.Action("GetFile", "Profile", new{ path = post.FileUrl } )">@post.Filename</a>
                            }
                            <p>Written by <a href="@Url.Action("VisitingProfile", "Profile", new { visitedUserID = post.PostingUserId})">@post.PostingUsersName</a> @post.DatePosted.ToShortDateString() in category @post.Category</p>

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" href="#collapse@(post.PostId)">Show comments (@post.CommentCount)</a></h4>
                                </div>
                                <div id="collapse@(post.PostId)" class="panel-collapse collapse">

                                    <div class="panel-body">
                                        @using (Ajax.BeginForm("PostComment", "Blog", new AjaxOptions
                                        { HttpMethod = "POST", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "post" + post.PostId, OnSuccess = "ClearTextbox()" }))
                                        {
                                            <div class="input-group">
                                                @Html.Hidden("postId", post.PostId)
                                                @Html.TextBox("tbComment", "", htmlAttributes: new { @class = "form-control", placeholder = "Write a comment" })
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="submit">Reply</button>
                                                </span>
                                            </div>
                                            <hr />
                                        }

                                        <div id="post@(post.PostId.ToString())">
                                            @if (post.Comments != null)
                                            {
                                                foreach (var c in post.Comments)
                                                {
                                                    <div id="@c.Id">
                                                        <div class="col-md-11">

                                                            <div class="media">
                                                                <div class="media-left">
                                                                    <a href="@Url.Action("VisitingProfile", "Profile", new { visitedUserID = post.PostingUserId})">
                                                                        @if (c.User.ProfilePicture == null)
                                                                        {
                                                                            <img class="media-object img-rounded" src="~/Content/default.jpg" alt="...">
                                                                        }
                                                                        else
                                                                        {
                                                                            <img class="media-object img-rounded" src="@string.Format("data:image/png;base64,{0}", Convert.ToBase64String(c.User.ProfilePicture))" alt="...">
                                                                        }

                                                                    </a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <h4 class="media-heading"><span class="label label-primary">@c.User.Firstname @c.User.Lastname - @c.Date</span> </h4>
                                                                    <p>@c.Text</p>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div class="col-md-1">
                                                            @if (c.AuthorId == Model.loggedInUserId)
                                                            {
                                                                using (Ajax.BeginForm("RemoveComment", "Blog", new { postId = post.PostId, commentId = c.Id, authorId = c.AuthorId },
                                new AjaxOptions { HttpMethod = "POST", OnSuccess = "RemoveComment(" + @c.Id + ")" }))
                                                                {
                                                                    <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
